html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #E9E9E9;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  justify-content: center;
  height: 100vh;
}

.card {
  align-items: center;
  background-color: snow;
  border-radius: .5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem 6rem;
}

.card-title {
  margin-bottom: 2rem;
  color: rgb(175, 175, 175);
}

.card-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
}

.input-field > * {
  display: block;
}

/* ========================= INPUT :FOCUS BORDER_BOTTOM ANIMATION ================================== */

.decorator {
  background-color: rgb(185, 185, 185);
  bottom: 2rem;
  display: block;
  height: 2px;
  position: absolute;
  transition: .2S;
  transform: scale(0);
  width: 100%;
  /* transform: scale(1); */
}

input:focus + .decorator {
  transform: scale(1);
}

/* ========================= the end INPUT :FOCUS BORDER_BOTTOM ANIMATION ================================== */

.input-field > label {
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input-field > input {
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 2rem;
  outline: none;
  padding: 0 .5rem .5rem;
  background-color: snow;
}

.card-action {
  margin-top: 1rem;
  width: 100%;
}

.card-action > button {
  background-color: rgb(230, 230, 230);
  color: rgb(180, 180, 180);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  padding: .7rem;
  margin: 0 auto;
  transition: .2s;
  width: 60%;
}

.card-action > button:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(116, 116, 116);
}

