html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #E9E9E9;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  justify-content: center;
  height: 100vh;
}

/* ========================= SINGLE FORM ================================== */
.card-content--form {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
}

.card-content--form .decorator {
  bottom: 2rem;
}

.card-content--form .card-action > button {
  width: 70%;
}

.card-content--form .or {
  color: rgb(175, 175, 175);
  display: block;
  margin-top: 1rem;
}

/* ========================= SINGLE FORM ================================== */

.card {
  align-items: center;
  background-color: snow;
  border-radius: .5rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  padding: 3rem 8rem 3rem;
}


.card-content {
  align-items: center;
  display: grid;
  column-gap: 10rem;
  justify-items: center;
  grid-template-columns: 2fr 3fr;
  row-gap: 3rem;
}


.card-title {
  font-size: 1.6rem;
  font-weight: 100;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
  color: rgb(175, 175, 175);
}

.input-area {
  justify-self: stretch;
  padding: 0 2rem;
}

.input-field {
  position: relative;
}

.input-field > * {
  display: block;
}

/* ========================= INPUT :FOCUS BORDER_BOTTOM ANIMATION ================================== */

.decorator {
  background-color: rgb(185, 185, 185);
  bottom: 0;
  display: block;
  height: 2px;
  position: absolute;
  transition: .2S;
  transform: scale(0);
  width: 100%;
  /* transform: scale(1); */
}

input:focus + .decorator {
  transform: scale(1);
}

/* ========================= the end INPUT :FOCUS BORDER_BOTTOM ANIMATION ================================== */

.input-field > label {
  color: rgb(180, 180, 180);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.input-field > input {
  border: none;
  border-bottom: 1px solid rgb(190, 190, 190);
  margin-bottom: 2rem;
  outline: none;
  padding: 0 .5rem .5rem;
  background-color: snow;
  width: 100%;
}

.card-action {
  grid-column: 1 / -1;
  margin-top: 1rem;
  width: 100%;
}

.card-action > .card-action--upload {
  width: 55%;
}

.card-action > .card-action--upload:hover > label {
  cursor: pointer;
}

.card-action > button {
  background-color: rgb(230, 230, 230);
  color: rgb(180, 180, 180);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  display: block;
  padding: .7rem;
  margin: 0 auto;
  transition: .2s;
  width: 25%;
}

.card-action > button:hover {
  background-color: rgb(226, 226, 226);
  color: rgb(116, 116, 116);
}

#holder {
  border-radius: 50% 50% 50% 50%;
  border: 1px rgb(190, 190, 190) solid;
  height: 20rem;
  overflow: hidden;
  width: 20rem;
}

#preview {
  display: flex;
  height: 100%;
  width: 100%;
}

#preview img {
  object-fit: cover;
  width: 100%;
}

span {
  font-size: 1.2rem;
}